<!DOCTYPE htmly
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css"
</head>

<body>
    <h1 id="oi">Welcome to Easy Calculator</h1>
    <form action="{{ url_for('main') }}" method="POST">
    <div class="calculadora">
        <div class="tela" id="tela"></div>
        <div class="botoes">
        <div class="contas">
            <div id="limpar">C</div>
            <div id="( )" class="operacoes">( )</div>
            <div id="%" class="operacoes">%</div>
            <div id="&divide;" class="operacoes">&divide;</div>
            <div id="7" class="opas">7</div>
            <div id="8" class="opas">8</div>
            <div id="9" class="opas">9</div>
            <div id="&times;" class="operacoes">&times;</div>
            <div id="4" class="opas">4</div>
            <div id="5" class="opas">5</div>
            <div id="6" class="opas">6</div>
            <div id="-" class="operacoes">-</div>
            <div id="1" class="opas">1</div>
            <div id="2" class="opas">2</div>
            <div id="3" class="opas">3</div>
            <div id="+" class="operacoes">+</div>
            <div i="+/-" class="operacoes">+/-</div>
            <div id="0" class="opas">0</div>
            <div id="." class="opas">.</div>
            <div id="igual" class="resultado">=</div>
        </div>
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./static/js/main.js"></script>
</body>
</html>